@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');




.titlul {
    text-align: center;
font-size: 60px;
font-family: sigmar;
}

    .introducere {
        text-align:left;
        font-size: 20px;
    }


 .detalii{
text-align:right
    }


    .imagine_colectie { 
     background-image: url(1-az.png); 
     width:620px;
        height: 220px;
        background-size:contain;
        padding: 10px;
        border: 1px;
        margin: auto;
        box-sizing:content-box ;
        display: flex;
        justify-content: center;
    }

    .lista_produse {
        padding: 10px;
        border: 10px;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        font-family: sigmar;
    }

    .frame {
        background-image:url(frame.png) ;
        width: 350px;
        height: 350px;
        background-size: contain;
        padding: 20px;
        border: 20px;
        margin: auto;
        box-sizing: content-box;
        display: flex;
        justify-content: center;
    }

    .produse_interne {
        font-family:sigmar ;
    }
    
    .produse_vinzare {
        padding: auto;
        border: 2px;
        margin: auto;
        display: flex;
        /* flex-direction:row; */
        justify-content: center;
        /* justify-content: space-between; */
        flex-wrap: wrap;
        gap: 30px;
    }