@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');



.titlul {
    text-align: center;
font-size: 60px;
font-family: sigmar;
}

    .introducere {
        text-align:left;
        font-size: 20px;
    }


 .detalii{
text-align:right
    }


    .imagine_colectie {
     /* width:800px;
        background-size:contain;
        padding: 20px;
        border: 20px;
        margin: auto;
        box-sizing:content-box ;
        display: flex;
        justify-content:center; */
        text-align: center;
    }

    .lista_produse {
        padding: 10px;
        border: 10px;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        font-family: sigmar;
    }

    .frame {
        /* width: 550px;
        background-size: contain;
        padding: 20px;
        border: 20px;
        margin: auto;
        box-sizing: content-box;
        display: flex;
        justify-content: center; */
        text-align: center;
    }

    .produse_interne {
        font-family:sigmar ;
    }
    
.container {
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
    gap: 20px;
}

    .produse_vinzare {
        width: 250px;
        height: 250px;
        background-size: contain;
        padding: 5px;
        border: 5px;
        margin: 50px;;
        box-sizing:border-box;
        position: relative;
    }

    .nume_produs {
        position:absolute;
        bottom: -85px;;
    }

    .link {
        text-align: center;
        text-transform:capitalize;
    }

    .legatura_client {
        font-family: sigmar;
        display: flex;
        justify-content:center;
        position: relative;
        
    }

    .detalii_client {
        text-align: center;
    }

    .video { 
        text-align: center;
       
    }

    .text_locatie {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-family: sigmar;
    }

    .harta {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .impresii {
        display: flex;
        flex-direction:row;
        justify-content:space-around;
        
    }

.comentarii {
    text-align: center;
}

.img {
    width: 40vw;
}

.apelati {
    width: 45px;
    height: 45px;
    position: fixed;
right: 50px;
bottom: 40px;

}

@media ( max-width: 600px) {img {width: 80vw}}